##导入宏定义
$!define

##保存文件（宏定义）
#save("/domain/converter", "Converter.java")

##包路径（宏定义）
#setPackageSuffix("domain.converter")

$!autoImport
import org.mapstruct.Mapper;

import java.util.List;

$!{tableInfo.savePackageName}
.domain.entity.$!{tableInfo.name};
    $!{tableInfo.savePackageName}
        .domain.dto.$!{tableInfo.name}Dto;

#tableComment("实体转化工具类")
@Mapper(componentModel = "spring")
public interface $!{tableInfo.name}Converter {


  /**
   * convert dto to entity
   */
      $!{tableInfo.name} dto2entity($!{tableInfo.name}Dto dto);

  /**
   * convert entity to dto
   */
      $!{tableInfo.name}Dto entity2dto($!{tableInfo.name} entity);

  /**
   * convert entity list  to dto list
   */
  List<$!{tableInfo.name}Dto> entity2dto(List<$!{tableInfo.name}> entities);

  /**
   * convert dto list to entity list
   */
  List<$!{tableInfo.name}> dto2entity(List<$!{tableInfo.name}Dto> dtoList);

}