<settings>
  <!-- <localRepositry>/home/jenkins/mvn_repo</localRepositry> -->
  <mirrors>
    <mirror>
      <!--Send all requests to the public group -->
      <id>nexus</id>
      <mirrorOf>*</mirrorOf>
      <url>https://nexus.deepblueai.com/repository/maven-public/</url>
    </mirror>
  </mirrors>
  <activeProfiles>
    <activeProfile>nexus</activeProfile>
  </activeProfiles>
  <profiles>
    <profile>
      <id>ossrh</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <gpg.executable>gpg2</gpg.executable>
        <gpg.passphrase>the_pass_phrase</gpg.passphrase>
      </properties>
    </profile>
    <profile>
      <id>nexus</id>
      <repositories>
        <repository>
          <id>central</id>
          <url>http://central</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>http://central</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>

  <pluginGroups>
    <pluginGroup>org.sonatype.plugins</pluginGroup>
    <pluginGroup>com.spotify</pluginGroup>
  </pluginGroups>
  <servers>
    <server>
      <id>ossrh</id>
      <username>jacky850618</username>
      <password>HVvA9tLe0xP&amp;49QM8</password>
    </server>
    <server>
      <id>nexus</id>
      <username>deepblue</username>
      <password>wvDZghFN6ALGQFUY</password>
    </server>
    <server>
      <id>deepblue-releases</id>
      <username>deepblue</username>
      <password>wvDZghFN6ALGQFUY</password>
    </server>
    <server>
      <id>deepblue-snapshots</id>
      <username>deepblue</username>
      <password>wvDZghFN6ALGQFUY</password>
    </server>
  </servers>
</settings>