##导入宏定义
$!define

##保存文件（宏定义）
#save("/domain/dto", "Dto.java")

##包路径（宏定义）
#setPackageSuffix("domain.dto")
#set($ccName=!$column.comment)
#set($cName=!$column.name)

##自动导入包（全局变量）
$!autoImport
import com.fasterxml.jackson.annotation.JsonProperty;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;
import lombok.experimental.SuperBuilder;

#tableComment("表DTO类")
@ApiModel(description = "$!{tableInfo.comment}")
@Data
@SuperBuilder
@AllArgsConstructor
@NoArgsConstructor
public class $!{tableInfo.name}Dto {
    #foreach($column in $tableInfo.fullColumn)
        #if (!$column.comment)
        ###set($column.comment = $column.name);
          @ApiModelProperty(value = "$!{column.name}")
          private $!{tool.getClsNameByFullName($column.type)} $!{column.name};

        #elseif($column.name.startsWith("is") && $column.type.equals("java.lang.Boolean"))

          @ApiModelProperty(value = "$!{column.comment}")
          private $!{tool.getClsNameByFullName($column.type)} $tool.firstLowerCase($column.name.substring(2));
        #elseif(!$column.name.equals("deleted")&&!$column.name.equals("updatedBy")
        && !$column.name.equals("createdBy")&&!$column.name.equals("updatedTime")
        && !$column.name.equals("createdTime"))

          @ApiModelProperty(value = "$!{column.comment}")
          private $!{tool.getClsNameByFullName($column.type)} $!{column.name};
        #end
    #end

}