##导入宏定义
$!define

##保存文件（宏定义）
#save("/domain/entity", ".java")

##包路径（宏定义）
#setPackageSuffix("domain.entity")

##自动导入包（全局变量）
$!autoImport
import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;
import lombok.experimental.SuperBuilder;

##表注释（宏定义）
#tableComment("表实体类")
@Data
@SuperBuilder
@TableName("$tableInfo.obj.name")
@AllArgsConstructor
@NoArgsConstructor
public class $!{tableInfo.name} implements Serializable{

private static final long serialVersionUID=-1;

#foreach($column in $tableInfo.pkColumn)
    #if(${column.comment})
    /**
     * ${column.comment}
     */
    #end
@TableId(type = IdType.AUTO)
private $!{tool.getClsNameByFullName($column.type)} $!{column.name};

#end
#foreach($column in $tableInfo.otherColumn)
    #if(${column.comment})
    /**
     * ${column.comment}
     */
    #end
private $!{tool.getClsNameByFullName($column.type)} $!{column.name};

#end
}