<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsh.springcloud.user.domain.mapper.UserMapper">

  <resultMap type="com.gsh.springcloud.user.domain.entity.User" id="UserResultMap">
    <result property="id" column="id" jdbcType="BIGINT"/>
    <result property="userName" column="user_name" jdbcType="VARCHAR"/>
    <result property="password" column="password" jdbcType="VARCHAR"/>
    <result property="age" column="age" jdbcType="INTEGER"/>
    <result property="integral" column="integral" jdbcType="NUMERIC"/>
    <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
    <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
    <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
    <result property="updatedBy" column="updated_by" jdbcType="VARCHAR"/>
    <result property="deleted" column="deleted" jdbcType="BOOLEAN"/>
    </resultMap>


</mapper>