<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <contextName>config</contextName>

  <springProperty name="LOG_PATH" scope="context" source="logging.file.path" defaultValue="/var/log/edu"/>
  <springProperty name="SERVICE_NAME" scope="context" source="spring.application.name"/>
  <springProperty name="ENV" scope="context" source="spring.profiles.active"/>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_PATH}/${SERVICE_NAME}.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_PATH}/${SERVICE_NAME}-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
      <!--日志文件保留天数-->
      <MaxHistory>15</MaxHistory>
      <!--按大小分割同一天的-->
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>50MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>

    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>


  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
    </encoder>
  </appender>

  <springProfile name="test,uat,prod">
    <logger level="INFO" name="org.springframework"/>
    <logger level="INFO" name="com.deepblueai.edu"/>
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="FILE"/>
    </root>
  </springProfile>

  <springProfile name="dev">
    <logger level="DEBUG" name="com.deepblueai.edu"/>
    <logger level="INFO" name="org.springframework"/>
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="FILE"/>
    </root>
  </springProfile>

  <springProfile name="native">
    <logger level="DEBUG" name="com.deepblueai.edu"/>
    <logger level="DEBUG" name="org.springframework"/>
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

</configuration>
