<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsh.springcloud.order.domain.mapper.OrderMapper">

  <resultMap type="com.gsh.springcloud.order.domain.entity.Order" id="OrderResultMap">
    <result property="id" column="id" jdbcType="BIGINT"/>
    <result property="name" column="name" jdbcType="VARCHAR"/>
    <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
    <result property="price" column="price" jdbcType="NUMERIC"/>
    <result property="num" column="num" jdbcType="INTEGER"/>
    <result property="userId" column="user_id" jdbcType="BIGINT"/>
    <result property="orderTime" column="order_time" jdbcType="TIMESTAMP"/>
  </resultMap>


</mapper>